.wrapper {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
}
.sidebar {
  background-color: white;
  max-width: 20%;
  width: 100%;
  position: fixed;
  height: 100%;
}
.logo {
  display: flex;
  background-color: #f8bc01;
  justify-content: center;
  padding: 10px;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #ee6393;
}
.nav-item:hover {
  background: #318574;
  color: white;
}
.active {
  background: #4bcbb1;
  color: white;
}
.admin_main {
  max-width: 80%;
  width: 100%;
  margin-left: 20%;
}
