.show-counter {
  background-color: #ee6393;
  display: flex;
  color: white;
  font-size: 18px;
  align-items: center;
  flex-direction: column;
  max-width: 416px;
  width: 100%;
  border-radius: 53px;
  padding: 8px 0;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.dot {
  font-size: 40px;
}
.time_block {
  display: flex;
  justify-content: space-between;
}
