.form_wrapper {
  max-width: 355px;
  width: 100%;
}
.form_title {
  padding: 20px;
}
.Creat_form {
  padding: 0 20px;
  max-width: 455px;
  width: 100%;
}
.input_text {
  width: 100%;
  border: 1px solid #707070;
  outline: none;
  border-radius: 21px;
  padding: 10px;
  margin-bottom: 20px;
}
.input_number {
  max-width: 80px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 21px;
  outline: none;
  border: 1px solid #707070;
  padding: 10px;
}
.prodCreateBtn {
  color: white;
  background-color: #4bcbb1;
  padding: 24px;
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 36px;
  font-weight: bold;
  cursor: pointer;
}
.prodCreateBtn:disabled,
button[disabled] {
  opacity: 60%;
}
.add_button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background: #4bcbb1;
  color: white;
  border-radius: 36px;
  margin: 10px 0;
  cursor: pointer;
}
.del_button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background: #d11a2a;
  color: white;
  border-radius: 36px;
  margin: 10px;
  cursor: pointer;
}
.upload_button {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: #1a962a;
  color: white;
  border-radius: 36px;
  margin: 10px 0;
  cursor: pointer;
}
.advantage > input {
  width: calc(100% - 83px);
  border: 1px solid #707070;
  outline: none;
  border-radius: 21px;
  padding: 10px;
  margin-bottom: 20px;
}
