.card_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  border: 1px solid rgb(41, 40, 40);
  border-radius: 25px;
  width: 250px;
  margin: 10px;
}
.card_img {
  max-width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.card_name {
  padding: 10px;
  color: gray;
}
.card_id {
  padding: 10px;
  color: gray;
}
.card_span {
  margin-left: 10px;
  font-weight: bold;
  color: red;
}
