.bg-logo {
  position: fixed;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #f8bc01;
}
.main {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  max-width: 544px;
  width: 100%;
}

.product_img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  height: 390px;
}
@media only screen and (max-width: 600px) {
  .bg-logo {
    align-items: flex-start;
  }
  .main {
    top: 45%;
    border-radius: 20px;
  }
  .product_img {
    border-radius: 50px;
  }
}
@media only screen and (max-width: 1000px) {
  .bg-logo {
    align-items: flex-start;
  }
}
.price {
  max-width: 416px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.old_price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #8e8e8e;
}
.old_price_text {
  font-size: 30px;
  margin: 0;
  padding: 5px 0;
}
.old_price_num {
  font-size: 40px;
  margin: 0;
  padding: 5px 0;
}
.new_price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ee6393;
}
.new_price_text {
  font-size: 30px;
  margin: 0;
  padding: 5px 0;
}
.new_price_num {
  font-size: 40px;
  margin: 0;
  padding: 5px 0;
}
.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  max-width: 416px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  color: white;
  background-color: #4bcbb1;
  padding: 24px;
  max-width: 355px;
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 36px;
  font-weight: bold;
  cursor: pointer;
}
.notification {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.count_timer {
  max-width: 416px;
  width: 100%;
  margin: 0 auto;
}

.circle {
  position: relative;
  background: white;
  border-radius: 50%;
  border: 1px solid #4bcbb1;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: 6px;
  width: 3px;
  border-bottom: 1px solid #4bcbb1;
  border-right: 1px solid #4bcbb1;
}
.advantages {
  text-align: center;
  max-width: 416px;
  width: 100%;
  margin: 0 auto;
}
.advantages_title {
  font-weight: bold;
  margin: 80px 0 30px;
  font-size: 18px;
}
.advantages_item {
  display: flex;
  padding: 5px;
}
.advantages_item_text {
  font-size: 16px;
}
.description {
  max-width: 416px;
  width: 100%;
  text-align: center;
  margin: 50px auto 80px;
}
.description_title {
  font-size: 24px;
  margin-bottom: 30px;
}
.description_text {
  word-break: break-all;
  line-height: 20px;
  font-size: 16px;
}
.video_content {
  background-color: black;
  height: 514px;
}
.comments {
  padding: 80px 0;
  max-width: 416px;
  width: 100%;
  margin: 0 auto;
}
.comments_title {
  font-size: 24px;
}
.comments_content {
  padding: 20px 0;
  display: flex;
  overflow: auto;
}
.comments_item {
  color: white;
  min-width: 224px;
  width: 100%;
  height: 193px;
  border-radius: 15px;
  padding: 10px;
  margin: 0 5px;
}
.author_block {
  display: flex;
  margin-bottom: 10px;
}
.comments_author {
  font-size: 18px;
  margin-bottom: 10px;
}
.comments_date {
  font-size: 12px;
  color: #d3d3d3;
}
.btn_block {
  display: flex;
  justify-content: center;
}
.comments_btn {
  border: 1px solid #707070;
  background: white;
  max-width: 218px;
  width: 100%;
  height: 58px;
  border-radius: 29px;
  margin-top: 35px;
  cursor: pointer;
}
.arrow {
  width: 0;
  height: 0;
  border: 15px solid transparent;
}
.left {
  border-left-color: #4bcbb1;
}
.order_block {
  text-align: center;
}
.order_block_items {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
}
.item {
  display: flex;
}
.item {
  display: flex;
  margin: 13px 0;
  margin-right: 20px;
}
/* .item:nth-child(1) {
  max-width: 332px;
  width: 100%;
}
.item:nth-child(2) {
  max-width: 354px;
  width: 100%;
}
.item:nth-child(3) {
  max-width: 382px;
  width: 100%;
} */
.item_one,
.item_two,
.item_tree {
  background-color: #4bcbb1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}
/* .item_two {
  min-width: 354px;
  width: 100%;
} */
/* .item_tree {
  min-width: 382px;
  width: 100%;
} */
.form {
  max-width: 416px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.btn:disabled,
button[disabled] {
  opacity: 60%;
}
.PhoneInput {
  border: 1px solid #707070;
  outline: none;
  border-radius: 21px;
  padding: 10px;
  max-width: 355px;
  width: 100%;
  margin-bottom: 30px;
}
.video {
  width: 100%;
  height: 100%;
}
